/*NAVIGATION BAR*/
#navbar{
    flex-direction: column;
}

#navbar ul li a:hover{
    background-color: white;
    color: black;

}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/*home*/
h1{
    font-size: 13px;
}

#home{
padding: 2px 10px;
margin: 5px;
}

#home h1{
    font-size: 35px;
}
/*ABOUT SECTION*/
#container{
    flex-direction: column;
  
}
#container .box img {
    height: 180px;
    margin-left: 0px;
    margin: auto;
    display: block;
}
h4 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 18px;
    text-align: center;
}
p {
    font-family: 'Cantarell', sans-serif;
    text-align: center;
}
#container{
  
    margin-right: 2px;
    margin-left: 2px;
}
.box {
    margin: 15px;
    font-size: 13px;
}
/*SERVICES SECTION*/
#services{
    flex-direction: column;
}
.address{
    margin: auto;
}
#services {
    margin-left:0px;
    margin-right: 0px;
}
/*CONTACT SECTION*/
.contact-container{
    flex-direction: column;
}

label ,input,textarea{
    margin: auto;
    display: flex;
    width: 60%;
    padding: 5px;
   
    font-family: 'Cantarell', sans-serif;
    font-size: 12px;
    border-radius: 5px;
}
.submit{
    padding: 10px;
    background-color:#FF8C00;
    margin: 5px;
    font-family: 'Noto Sans SC', sans-serif;
    padding: 8px 24px;
    display: flex;
    margin: auto;
}



